#title {
    color: rgb(66, 175, 211);
    font-size: 80px;
    text-align: center;
    font-family: serif;

}

#homeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}